* {
    padding: 0;
    margin: 0;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

.ccontainer {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    position: relative;
}

.hsecrion-1 {
    height: 100vh;
}

.hsecrion-2 {
    height: 200vh;
}

.hsecrion-3 {
    height: 300vh;
}

.hsecrion-4 {
    height: 400vh;
}